@model IEnumerable<EndToEnd.CC>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Find by name: @Html.TextBox("SearchString")
    <input type="submit" value="Search" />
</p>
    
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CCName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CCName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CCID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CCID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CCID })
            </td>
        </tr>
    }

</table>
